<fieldset>
    <label for="author">Author</label>
    <input type="text" name="author" value="<%= comment.author %>">
</fieldset>

<fieldset>
    <label for="comment">Comment</label>
    <textarea name="text" cols="30" rows="5" value="<%= comment.text %>"></textarea>
</fieldset>