<header>
    <nav>
        <a href="/">Index</a>
        <br>
        <a href="/author/add">Add author</a>
        <br>
        <a href="/news">News</a>
        <a href="/news/add">Add news</a>
        <br>
        <a href="/comments">Comments</a>
        <a href="/comments/add">Add comment</a>
    </nav>
</header>