<fieldset>
    <label for="author">Name</label>
    <input type="text" name="name" value="<%= author.name %>">
</fieldset>

<fieldset>
    <label for="title">Surname</label>
    <input name="surname" type="text" value="<%= author.surname %>">
</fieldset>

<fieldset>
    <label for="text">Username</label>
    <input name="username" cols="30" rows="10" value="<%= author.username %>">
</fieldset>

<fieldset>
    <label for="topics">Email</label>
    <input type="email" name="email" value="<%= author.email %>">
</fieldset>